// Some nice-ish colours
$psy-c1-rgb: '32, 55, 68';    //http://www.colordic.org/colorsample/2444.html
$psy-c1-hex: #53727d;
$psy-c6-rgb: '197, 197, 106'; //http://www.colordic.org/colorsample/2144.html
$psy-c6-hex: #c5c56a;

$psy-black-rgb: "0,0,0";
$psy-white-rgb: "255,255,255";
$psy-grey-50-rgb: "127,127,127";

// MDL can be customised by overriding variable. See this file for variable names
// ./../../node_modules/material-design-lite/src/_variable.scss'
// https://github.com/google/material-design-lite/wiki/Customizing-Colors
$psy-primary: $psy-c1-rgb !default;
$psy-primary-hex: $psy-c1-hex;
$psy-accent: $psy-c6-rgb !default;
$psy-accent-hex: $psy-c6-hex;

$color-primary: $psy-primary !default;
// $color-primary-dark: '<RGB>' !default;
$color-accent: $psy-accent !default;
// $color-primary-contrast: $psy-c6-rgb !default;
// $color-accent-contrast: '<RGB>' !default;

// Helper constant which can be used for additional calculations to ensure proper ratios
$metric__interval-px: 8px;

// Was the first reference I found for pastel colours. Looks good enough :)
// http://colors.findthedata.com/saved_search/Pastel-Colors
$pastel-blue: rgb(174,198,207);
$pastel-blue-darker: rgb(119,158,203);
$pastel-brown: rgb(130,105,83);
$pastel-gray: rgb(207,207,196);
$pastel-green: rgb(119,190,119);
$pastel-green-darker: rgb(3,192,60);
$pastel-magenta: rgb(244,154,194);
$pastel-orange: rgb(255,179,71);
$pastel-pink: rgb(255,209,220);
$pastel-pink-darker: rgb(222,165,164);
$pastel-purple: rgb(179,158,181);
$pastel-purple-lighter: rgb(177,156,217);
$pastel-purple-darker: rgb(150,111,214);
$pastel-red: rgb(255,105,97);
$pastel-red-darker: rgb(194,59,34);
$pastel-violet: rgb(203,153,201);
$pastel-yellow: rgb(253,253,150);

$pastel-blue-hex: #AEC6CF;
$pastel-blue-darker-hex: #779ECB;
$pastel-brown-hex: #836953;
$pastel-gray-hex: #CFCFC4;
$pastel-green-hex: #77DD77;
$pastel-green-darker-hex: #03C03C;
$pastel-magenta-hex: #F49AC2;
$pastel-orange-hex: #FFB347;
$pastel-pink-hex: #FFD1DC;
$pastel-pink-darker-hex: #DEA5A4;
$pastel-purple-hex: #B39EB5;
$pastel-purple-lighter-hex: #B19CD9;
$pastel-purple-darker-hex: #966FD6;
$pastel-red-hex: #FF6961;
$pastel-red-darker-hex: #C23B22;
$pastel-violet-hex: #CB99C9;
$pastel-yellow-hex: #FDFD96;

$player-one-color: $pastel-red-darker;
$player-two-color: $pastel-gray;

.player-color--one {
  color: $player-one-color;
}
.player-color--two {
  color: $player-two-color;
}
